.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    overflow-x: hidden;
}


/* pc */
@media screen and (min-width: 1024px) {
    .main > section {
        z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 1024px;
    }
    .main > section > header {
        /* margin-top: 208px; */
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    header > .title{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    header > .title > h1{
        margin: 0;
        font-family: Pretendard;
        font-size: 3.2rem;
        font-weight: 600;
        color: var(--brand-accent);
        text-decoration: underline;
    }
    header > .description{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    header > .description > p{
        margin: 0;
        font-family: Pretendard;
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--brand-primary);
    }
    .post_container{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post_container > .post_title{
        width: 100%;
        display: flex;
    }
    .post_container > .post_title > h2{
        margin: 0;
        font-family: Pretendard;
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--brand-accent);
    }
    .post_container > .post_list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* pad */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main > section {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1023px;
    }
    .main > section > header {
        margin-top: 153px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .main > section {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 767px;
    }
    .main > section > header {
        margin-top: 139px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}