/* pc */
@media screen and (min-width: 1024px) {
  .nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid var(--brand-gray-light);
}
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    height: 60px;
}
.left_container{
    display: flex;
    align-items: center;
}
.title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.logo{
    width: 36px;
    height: 36px;
}
.logo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title_container > span{
    font-family: Pretendard;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--brand-gray-black);
}
.menu_list{
    padding: 0;
    display: flex;
    gap: 20px;
}
.menu_list > li{
    list-style: none;
    font-family: Pretendard;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--brand-gray-black);
    cursor: pointer;
}
}

/* pad */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid var(--brand-gray-light);
}
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    height: 60px;
}
.left_container{
    display: flex;
    align-items: center;
}
.title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.logo{
    width: 36px;
    height: 36px;
}
.logo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title_container > span{
    font-family: Pretendard;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--brand-gray-black);
}
.menu_list{
    padding: 0;
    display: flex;
    gap: 20px;
}
.menu_list > li{
    list-style: none;
    font-family: Pretendard;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--brand-gray-black);
    cursor: pointer;
}
}

/* mobile */
@media screen and (max-width: 767px) {
  .nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid var(--brand-gray-light);
    transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out;
  }
  .nav.active {
    z-index: 100;
    width: 100vw;
    padding: 0 10px;
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: var(--brand-gray-light);
    /* border-bottom: 1px solid var(--brand-gray-light); */
  }
  .nav_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
      width: 100%;
      height: 60px;
  }
  .left_container{
      display: flex;
      align-items: center;
  }
  .title_container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
  }
  .logo{
      width: 36px;
      height: 36px;
  }
  .logo > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .title_container > span{
      font-family: Pretendard;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--brand-gray-black);
  }
  .menu_list_mobile{
    display: none;
  }
  .menu_list_mobile.active{
      z-index: 101;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--brand-gray-light);
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }
  .menu_list_mobile.active > li{
      list-style: none;
      font-family: Pretendard;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--brand-gray-black);
      cursor: pointer;
  }
}

.menu_trigger,
.menu_trigger > span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menu_trigger {
  margin-right: 10px;
  position: relative;
  width: 35px;
  height: 30px;
}
.menu_trigger > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--brand-accent);
  border-radius: 4px;
}
.menu_trigger > span:nth-of-type(1) {
  top: 0;
}

.menu_trigger > span:nth-of-type(2) {
  top: 13px;
}

.menu_trigger > span:nth-of-type(3) {
  bottom: 0;
}
.menu_trigger.active > span:nth-of-type(1) {
  transform: translateY(13px) rotate(-45deg);
}

.menu_trigger.active > span:nth-of-type(2) {
  opacity: 0;
}

.menu_trigger.active > span:nth-of-type(3) {
  transform: translateY(-13px) rotate(45deg);
}