.title{
    display: flex;
    width: 100%;
    justify-content: center;
}
.typewriter{
    margin: 0;
    font-family: Pretendard;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--brand-accent);
    text-decoration: underline;
}
.cursor{
    margin: 0;
    font-family: Pretendard;
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--brand-accent);
    text-decoration: none;
}