.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--brand-gray-dark);
    background-color: var(--brand-white);
    color: var(--brand-gray-dark);
    font-size: 14px;
    font-weight: 600;
}