.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.control_button{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid var(--brand-gray-dark);
    background-color: var(--brand-white);
    color: var(--brand-gray-dark);
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.control_button:hover {
    background-color: var(--brand-gray-dark);
    color: var(--brand-white);
}
.page {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid var(--brand-gray-dark);
    background-color: var(--brand-white);
    color: var(--brand-gray-dark);
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.page:hover {
    background-color: var(--brand-gray-dark);
    color: var(--brand-white);
}

.active {
    background-color: var(--brand-primary);
    color: #fff;
    border: 1px solid var(--brand-primary);
}