.post_card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    gap: 5px;
    cursor: pointer;
}
.post_card > .title{
    margin: 0;
    font-family: Pretendard;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--brand-black);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post_card > .container{
    display: flex;
    flex-direction: column;
}
.post_card > .thumbnail{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 210px;
    border-radius: 8px;
    background-color: var(--brand-gray-light);
    position: relative;
    padding: 10px;
}
.post_card > .thumbnail > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.post_card:hover > .thumbnail > img{
    visibility: visible;
    opacity: 0.5;
    filter: blur(6px);
}
.post_card > .thumbnail > .thumbnail_placeholder{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    background-color: var(--brand-secondary);
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.post_card > .thumbnail > .thumbnail_placeholder > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.post_card:hover > .thumbnail > .thumbnail_placeholder{
    visibility: visible;
    opacity: 0.5;
    filter: blur(6px);
}
.tags{
    opacity: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    transition: opacity 0.3s ease-in-out;
}
.tags > .tag{
    height: 30px;
    padding: 5px 10px;
    border-radius: 16px;
    background-color: rgba(0,59,99,.25);
    font-family: Pretendard;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--brand-gray-black);
    border: 1px solid var(--brand-gray-black);
    background-color: #fff;
}
.post_card:hover > .thumbnail > .tags{
    opacity: 1;
}
.info_container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.graphic_dot{
    width: 5px;
    height: 5px;
    background-color: var(--brand-gray-dark);
    border-radius: 50%;
}
.author{
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 400;
    color: var(--brand-gray-dark);
}
.date{
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 400;
    color: var(--brand-gray-dark);
}
.category{
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 400;
    color: var(--brand-gray-dark);
}
